@media (max-width: 768px) {
    /* grid */
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
    }

    /* showcase */
    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
    }

    /* cli */
    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    /* footer */
    .footer {
        text-align: center;
    }

    .footer .social {
        margin-top: 30px;
    }
}
